BasedOnStyle: LLVM
Language: Cpp
Standard: c++20

ColumnLimit: 120
IndentWidth: 2
TabWidth: 2
UseTab: Never

BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: Empty

PointerAlignment: Left
SortIncludes: true
